.container {
    display: flex;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 8%;
    border: 3px solid rgb(57, 118, 231);
    box-shadow: 9px 6px 9px 1px #969696;
    background-color: #fff;
}

.forget-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 12%;
    border: 3px solid rgb(57, 118, 231);
    box-shadow: 9px 6px 9px 1px #969696;
    background-color: #fff;
}

.logoPart {
    margin: auto 0 auto 10%;
    width: 200px;
    min-width: 200px
}

.picture {
    width: 200px;
    height: 200px;
}

.logoPart p {
    width: 250px;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

.logoPart span {
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
}

.auth-form {
    width: 65%;
    margin: 100px auto 100px 0px;
    text-align: center; 
    /* padding: 25px; */
    /* border: 3px solid rgb(57, 118, 231);  */
}

.forget-form {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.forget-form h2 {
    text-align: center;
    margin: 25px auto;
}

.auth-form h2 {
    text-align: center;
    margin: 25px auto;
}

.auth-form .form {
    text-align: center;
}

.form-group {
    width: 70%;
    margin: 0 auto;
    text-align: left
}

.form-group span {
    color: red;
}

.form-group label {
    font-size: 21px;
    font-weight: 450;
}

.form-group input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 3px solid #6dabe4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 18px;
    outline: none;
}

.form-group input:focus {
    border-bottom: 3px solid #2088ff;
}

.form-group #error {
    font-size: 16px;
    color: red;
}

.form-group.right {
    text-align: end;
}

