.detail {
    width: 80%;
    margin-left: 10%;
}

.text {
    display: inline;
}

.text .content {
    min-height: 450px;
    background-color: lightcyan;
}

.comments {
    margin-top: 15px;
}

.comment-hide {
    display: none;
}

.content .comments .leave-btn {
    width: 120px;
    height: 45px;
    font-size: 20px;
    margin: 10px 0 auto auto;
}

.comment {
    margin-top: 15px;
    height: 120px;
    width: 100%;
    border: 2px solid wheat;
}

.comment .comment-author {
    font-size: 21px;
    font-weight: bold;
    margin: 3px auto 10px 5px;
    /* margin-bottom: 15px; */
}

.comment .comment-content {
    display: '-webkit-box';
    -webkit-box-orient: 'vertical';
    -webkit-line-clamp: 3;
    overflow: 'hidden';
    font-size: 18px;
    margin: 3px auto 10px 5px;

}

.comment .comment-time {
    margin: 3px auto 10px 5px;
    font-size: 16px;
}

.reply-hide {
    display: none;
}

.reply .reply-box {
    width: 100%;
}

.reply .leave-btn {
    width: 80px;
    height: 40px;
    font-size: 18px;
    margin: 10px 0 auto auto;
}

.author-info {
    text-align: end;
}