.main-body {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
}

.btn button{
    width: 160px;
    height: 35px;
    margin-top: 5px;
    font-size: 18px;
    float: right;
}